@import "../../style/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #D3D5D4;
    font-family: $mainFont;

    .wrapper {
        min-width: 500px;
        min-height: 300px;
        display: flex;
        background-color: aliceblue;
        justify-content: center;
        align-items: center;
        border-radius: 0.4em;
        box-shadow: 0px 2px 15px 5px rgb(112, 110, 110);
    }

    .card {
        display: flex;
        flex-direction: column;
        min-width: 450px;
    }   

    .card__word {
        font-size: 4rem;
        font-weight: 500;
        margin: 15px;
        text-align: center;
        color: $mainFontColor;
    }

    .card__transcription {
        font-size: 1.5rem;
        text-align: center;
        color: $mainFontColor;
    }

    .btn__container {
        display: flex;
        justify-content: end;
    }

    .card__button {
        transform: translateY(150%);
        display: inline-block;
        border: 0;
        cursor: pointer;
        background-color: #878E99;
        color:aliceblue;
        height: 30px;
        width: 80px;
        border-radius: 5px;

        &:hover {
            background-color: #9DB5B2;
            color: #625171;
            transition: all .4s ease;
        }
}
}

.question__text {
    color: $mainFontColor;
    font-size: 1.1rem;
    transform: translateY(-100%);
    display: inline-block;
    background-color: #b3cacb;
    text-align: center;
    width: 120px;
    height: 22px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #ac9db5;
        color:aliceblue;
        transition: all .4s ease;
    }
}

.card__translation {
    transform: translateY(50%);
    display: inline-block;
    border: 0;
    cursor: pointer;
    background-color: #CCD5FF;
    color: $cardFontColor;
    color: $mainFontColor;
    font-size: 1.3rem;
    height: 80px;
    width: 150px;
    border-radius: 5px;
    word-break: break-all;


    &:hover {
        background-color: #E7BBE3;
        color: #625171;
        transition: all .4s ease;
    }
}

.card__button {
    transform: translateY(150%);
    display: inline-block;
    border: 0;
    cursor: pointer;
    background-color: #878E99;
    color:aliceblue;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    word-break: break-all;


    &:hover {
        background-color: #9DB5B2;
        color: #625171;
        transition: all .4s ease;
    }
}