@import "../../style/variables.scss";

.container {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: center;
    align-items: center;
    grid-gap: 0.8rem;
    font-family: $mainFont;
    text-align: center;
    background-color: #c2c4c4;
    color: $cardFontColor;
    font-size: 1.3em;
    font-weight: 400;
    min-height: 50px;
    padding-left: 2rem;
}

.item {
    display: flex;
    justify-content: start;
    padding-left: 1rem;
}